.main-container {
  min-height: 100vh;
  width: 100vw;
  min-width: 412px;
  background-color: hsl(0, 0%, 12%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.phone-container {
  width: 100vw;
  min-width: 412px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.phone {
  background-color: black;
  padding: 28px 10px;
  border-radius: 1.25rem;
}

iframe {
  height: 732px;
  width: 412px;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
}

.header {
  padding: 1.5rem 2rem;
  color: white;
  .title {
    font-size: 2rem;
  }
  .url {
    color: hsl(0, 0%, 85%);
    font-weight: 300;
  }
}

.footer {
  padding-block: 1.2rem;
  padding-inline: 2rem;
  font-size: 0.9rem;
  text-align: right;
  color: hsl(0, 0%, 65%);
  @media (max-width: 1200px) {
    text-align: center;
  }
}
